header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;

    height: 60px;
    width: 100%;
    background-color: #050505;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}

.subscribe span {
    color: #ddd;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.login {
    margin: 0px 50px 0px 30px;
}

.login button {
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 8px 34px;
    background-color: #ddd;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.login button:hover {
    transform: translateX(2px) scale(1.1);
    background-color: #eee;
}